body {font-family: 'Oswald', sans-serif;
background-image:url('alexandre-brondino-G7rPA-8SJ-M-unsplash.jpg') ;
background-size: cover;
background-repeat: no-repeat;
}
form {border: 3px solid rgb(80, 77, 77); background-color: grey;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
 
}

img.avatar {
  width: 40%;
  
}

.container {
  padding: 16px;
  background-color: grey;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
#loginback{color: black;}
#cancelback{color: black;}

#loginheader{
    text-align: center;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}